



<div class="row justify-content-center">
  <div class="col-4">
      <button *ngIf="!quizStarted" (click)="startQuiz()"  type="button" class="btn btn-block btn-primary btn-md mb-5"> Start Quiz ! </button>
      <button *ngIf="quizStarted" (click)="submitQuiz()"  type="button" class="btn btn-block btn-info btn-md mb-5"> Submit Quiz </button>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div *ngFor="let item of questions"  class="card mb-1">
      <div class="card-body">
        <h6>{{item.text | titlecase}}</h6>
        <div class="mb-4">
          <form #f="ngForm">

          <div *ngFor="let ans of item.answers"  class="">
             <!-- <input
            (click)="onClickAnswer(item._id, ans._id)"

            > -->
            <input

              [(ngModel)]="options[item._id]"
              [checked]="options[item._id]"
              value="{{ans._id}}"
              name="option{{item._id}}"
              type="radio" [id]="ans._id"
              (click)="onClickAnswer(item._id, ans._id)"
             >
            <label for="option{{item._id}}">{{ans.text | titlecase}}</label>
          </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="row justify-content-center">
  <div class="col-4">
      <button *ngIf="quizStarted" (click)="submitQuiz()"  type="button" class="btn btn-block btn-info btn-md mb-5"> Submit Quiz </button>
  </div>
</div>
